<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>


<h1>About Flag Exchange</h1>
<p>
	Flag Exchange was originally created because a friend wanted a better way to sell her guard's equipment. She had two choices: 1) Go it alone by uploading pictures, sending them via e-mail, promoting them on forums and managing payment through checks or money orders or 2) Go through a reseller like The <a href="http://www.guardcloset.com">Guard Closet</a> and lose <b>40%</b> of the entire sale (check out their <a href="http://www.guardcloset.com/images/Contract.pdf">contract</a> which only gives the seller 60% of the revenue). I knew there had to be a better way.
</p>
<p>
	And that's why I created Flag Exchange. I knew there had to be an easy way to use technology to our advantage and create a seamless marketplace for guard equipment.  On Flag Exchange, resellers can manage their own account by keeping track of inventory, have equipment displayed and sorted by style, color, size, and theme, have payment processed through an independent third-party, and have their inventory ready to view any time of day on computer, tablet or mobile device.
</p>
<p>
	Flag Exchange only takes <i>5%</i> as opposed to the 40% commission The Guard Closet charges. This small fee is to help keep the website running--not make a personal living.
</p>
<p>
	So take a look around and find the perfect equipment or uniforms for your next season. Please reach out to me if you have any feedback or comments.  I'd love to hear from you
</p>
<p>
	<h2>
		<font face="Homemade Apple">
			-Zach
		</font>
	</h2>
</p>