<div class="hero-unit" align=center>
  <h1>Welcome to Flag Exchange</h1>
  <p>Why lose 40% when you sell your equipment?</p>
  <p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
		<%= link_to "Learn More", about_path, class: "btn" %>
  </p>
</div>

<p>
	<%= link_to "Sign Up Now!", "#"%>
</p>
