$baseFontFamily: Lato; 
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,700bold);

$btnPrimaryBackground: orange;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer{
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}